<form class="card form" action="/account/create" method="post" hx-boost="true" hx-params="not password_repeat" hx-target="#signup_results" hx-indicator="#signup-submit">
  <div class="form-item">
    <label>Name:</label>
    <input type="text" name="name" required="true"></input>
  </div>
  <div class="form-item">
    <label>Email:</label>
    <input name="email" type="email" required="true"></input>
  </div>
  <div class="form-item">
    <label>Password:</label>
    <input 
      _="
        on htmx:validation:validate
          if my.value != the value of the next <input/>
            call me.setCustomValidity('Passwords must match')
          else 
            call me.setCustomValidity('')
          end
        end
      " 
      name="password" 
      type="password" 
      required="true">
    </input>
  </div>
  <div class="form-item">
    <label>Password:</label>
    <input name="password_repeat" type="password" required="true"></input>
  </div>
  <div class="form-item">
    <button id="signup-submit" type="submit">Submit</button>
  </div>
  <div id="signup_results" class="form-item"></div>
</form>
