<form
  class="card form"
  action="/account/create"
  method="post"
  hx-boost="true" 
  hx-params="not password_repeat"
  hx-target="#signup_results" 
  hx-indicator="#signup-submit"
  hx-push-url="false"
>
  <label class="form-item">
    Name:
    <input type="text" name="name" required="true"></input>
  </label>
  <label class="form-item">
    Email:
    <input name="email" type="email" required="true"></input>
  </label>
  <label class="form-item">
    Password:
    <input 
      _="
        on htmx:validation:validate
          if my.value != the value of the next <input/>
            call me.setCustomValidity('Passwords must match')
          else 
            call me.setCustomValidity('')
          end
        end
      " 
      name="password" 
      type="password" 
      required="true">
    </input>
  </label>
  <label class="form-item">
    Password:
    <input name="password_repeat" type="password" required="true"></input>
  </label>
  <div class="form-controls">
    <button id="signup-submit" type="submit">Submit</button>
  </div>
  <div id="signup_results" class="form-item"></div>
</form>
