<form 
  class="form card"
  action="/login?{{ query }}" 
  method="POST"
  hx-boost="true"
  hx-target="#login_results"
  hx-indicator="#login-submit"
  hx-push-url="false"
>
  <label class="form-item">
    Email:
    <input name="email" type="email" required="true"></input>
  </label>
  <label class="form-item">
    Password:
    <input name="password" type="password" required="true"></input>
  </label>
  <div class="form-controls">
    <button id="login-submit" type="submit">Submit</button>
  </div>
  <div id="login_results" class="form-item"></div>
</form>
