<form class="form card" method="post" action="/event/{{ event_id }}/{{ date }}/add_shift" hx-boost="true"
  hx-target="#create_shift_results" hx-indicator="create_shift_submit" hx-disinherit="*">
  <label class="form-item">
    Title:
    <input name="title" type="text" required></input>
  </label>
  <label class="form-item">
    Start Time:
    <input name="start_time" type="time" required></input>
  </label>
  <label class="form-item">
    End Time:
    <input name="end_time" type="time" required></input>
  </label>
  <label class="form-item">
    Description:
    <textarea name="description" rows="5"></textarea>
  </label>
  <label class="form-item">
    Allow public signups
    <input name="public_signup" type="checkbox" checked></input>
    <div class="spacer"></div>
  </label>
  <div class="form-controls">
    <button id="create_shift_submit" type="submit">Submit</button>
  </div>
  <div id="create_shift_results" class="form-item"></div>
</form>
