
{% let ip_class = "col-span-2 border px-2 py-1 rounded-xl" -%}
{% let lb_class = "font-semibold text-right py-1" -%}
{% let div_class = "col-span-3 flex flex-row gap-4 justify-center items-center" -%}

<form class="w-[30rem] grid grid-cols-3 gap-4" method="post" action="/event/{{ event_id }}/{{ date }}/add_shift" hx-boost="true"
  hx-target="#error" hx-indicator="create_shift_submit" hx-disinherit="*" hx-push-url="false">
  <label for="title" class="{{ lb_class }}" class="form-item">
    Title:
  </label>
  <input id="title" class="{{ ip_class }}" name="title" type="text" required></input>
  <label for="start_time" class="{{ lb_class }}" class="form-item">
    Start Time:
  </label>
  <input id="start_time" class="{{ ip_class }}" name="start_time" type="time" required></input>
  <label for="end_time" class="{{ lb_class }}" class="form-item">
    End Time:
  </label>
  <input id="end_time" class="{{ ip_class }}" name="end_time" type="time" required></input>
  <label for="description" class="{{ lb_class }}" class="form-item">
    Description:
  </label>
  <textarea id="description" class="{{ ip_class }}" name="description" rows="5"></textarea>
  <label for="public_signups" class="{{ lb_class }}" class="form-item">
    Allow public signups:
  </label>
  <div class="col-span-2 flex justify-start">
    <input id="public_signup" class="" name="public_signup" type="checkbox" checked></input>
  </div>
  <div class="{{ div_class }}">
    <button class="px-4 py-2 border rounded-xl shadow hover:bg-zinc-400 hover:shadow-none" type="submit">Submit</button>
  </div>
  <div id="error" class="empty:hidden {{ div_class }}"></div>
</form>
