{% if !public %}
  <div class="schedule-controls" hx-target="#modal">
      <button hx-get="/schedule/{{ day_id }}/add_shift">Add Shift</button>
      <button hx-get="/schedule/{{ day_id }}/copy">Copy</button>
  </div>
{% endif %}
<div class="schedule">
  <div class="background">
    {% for h in 0..(end_time - start_time).num_hours() %}
      {% let time = start_time + Duration::hours(h.clone()) %}
      <div class="block">
        <span class="time">{{ time.format("%-I:%M %p") }}</span>
      </div>
    {% endfor %}
  </div>
{% for column in shift_columns %}
  <div class="schedule-column" hx-target="#modal">
    {% for shift in column %}
      {{ shift|safe }}
    {% endfor %}
  </div>
{% endfor %}
</div>
