{% match worker %}
  {% when None %}
  <div class="form-item" style="margin-top:1rem">
    <label>First Name:</label>
    <input type="text" name="first_name" required/>
  </div>
  <div class="form-item">
    <label>Last Name:</label>
    <input type="text" name="last_name" required/>
  </div>
  <div class="form-item">
    <label>Phone number:</label>
    <input type="phone" name="phone_number"/>
  </div>
  {% when Some with (worker) %}
  <div class="form-item" style="margin-top:1rem">
    <p>Welcome, {{ worker.name_first }}</p>
  </div>
{% endmatch %}
