<div class="card" hx-target="this" hx-swap="outerHTML">
  <div class="title-block">
    <h1>{{ shift.title }}</h1>
    <h2>{{ shift.start_time|time_short }} - {{ shift.end_time|time_short }}</h2>
  </div>

  {% if let Some(description) = shift.description %}
  <p>{{ description|markdown }}</p>
  {% endif %}

  {% if logged_in %}
  {% match worker %}
  {% when Some with (worker) %}
  <p>Filled by {{ worker.name_first }} {{ worker.name_last }}</p>
  {% when None %}
  <p>Unfilled</p>
  {% endmatch %}
  <div class="controls">
    <button hx-get="/shift/{{ shift.id }}/edit">Edit</button>
    <button hx-delete="/shift/{{ shift.id }}" hx-confirm="Are you sure you want to delete this shift?">Delete</button>
  </div>
  {% endif %}

  {% if shift.worker_id.is_none() && (shift.public_signup || logged_in) %}
  <form class="form" hx-patch="/shift/{{ shift.id }}/signup" hx-target="#signup-results">
    <label class="form-item" hx-target="next span" hx-swap="innerHTML">
      Email:
      <input type="email" name="email" hx-get="/shift/{{ shift.id }}/signup" hx-trigger="change"
        hx-indicator="closest div" hx-sync="closest form:replace" />
    </label>
    <span style="display:contents" class="form-item"></span>
    <div class="form-item" id="signup-results"></div>
    <div class="form-controls">
      <button class="primary" type="submit">Signup</button>
    </div>
  </form>
  {% endif %}
</div>
