{% let button = "px-4 py-2 border rounded-xl shadow hover:bg-zinc-400 hover:shadow-none"-%}
<div class="w-[30rem]">
  <div class="mb-4">
    <h1 class="font-serif text-3xl font-bold">{{ shift.title }}</h1>
    <h2 class="font-serif text-xl font-medium text-zinc-400">{{ shift.start_time|time_short }} - {{ shift.end_time|time_short }}</h2>
  </div>

  {% if let Some(description) = shift.description %}
  <div class="p-4">{{ description|markdown }}</div>
  {% endif %}

  {% if logged_in %}
  <div class="pb-4 px-4">
    {% match worker %}
      {% when Some with (worker) %}
      <p>Filled by <a class="text-primary underline hover:text-zinc-500" hx-target="#content" hx-push-url="true" href="/worker/{{ worker.id }}">{{ worker.name_first }} {{ worker.name_last }}</a></p>
      {% when None %}
      <p>Unfilled</p>
    {% endmatch %}
  </div>
  <div class="flex flex-row gap-4 justify-center items-center pb-4" hx-target="#modal">
    <button class="{{ button }}" hx-get="/shift/{{ shift.id }}/edit">Edit</button>
    <button class="{{ button }}" hx-delete="/shift/{{ shift.id }}" hx-confirm="Are you sure you want to delete this shift?">Delete</button>
    {% if let Some(id) = shift.worker_id %}
    <button class="{{ button }}" hx-patch="/shift/{{ shift.id }}/remove_worker?id={{ id }}" hx-confirm="Are you sure you want to remove this worker?">Remove worker</button>
    {% endif %}
  </div>
  <div id="error" class="empty:hidden"></div>
  {% endif %}

  {% if shift.worker_id.is_none() && (shift.public_signup || logged_in) %}
  <div
    class="mt-4" 
    hx-get="/shift/{{ shift.id }}/signup"
    hx-target="this"
    hx-trigger="load">
    <span class="">Loading ...</span>
  </div>
  {% endif %}
</div>
