form {
  display: contents;
}

.form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-controls {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

label.form-item {
  flex: 1 0 0;
  font-weight: bold;
  text-align: right;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.form-item:empty {
  display: none;
}

.form-item+.form-item {
  margin-top: 1rem;
}

.form-item+.form-controls {
  margin-top: 1rem;
}


label.form-item>input,
label.form-item>textarea {
  margin-left: 0.5rem;
}

label.form-item>input:not([type=checkbox]),
label.form-item>textarea {
  flex: 0 0 70%;
}

.form-item>.spacer {
  flex: 0 0 70%;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
input[type=tel],
select {
  border-radius: 0.5rem;
  border: 2px solid var(--ui);
  background-color: var(--base);
  color: var(--text);
  height: 2rem;
  font-size: 0.8rem;
}

textarea {
  border-radius: 0.5rem;
  border: 2px solid var(--ui);
  background-color: var(--base);
  color: var(--text);
  font-size: 0.8rem;
}

button[type=submit] {
  position: relative;
}

button[type=submit].htmx-request::after {
  content: url('/spinner.svg');
  position: absolute;
  right: -2rem;
  /* Not sure if this positioning will be good for every situation */
  top: 0.4rem;
}
