table {
}

thead {
  border-radius: 1rem 1rem 0rem 0rem;
  box-shadow: 0px 1px 4px lightgray;
}



th {
  padding: 1rem 1rem;
}

th:after {
  color: gray;
  padding-left: 0.4rem;
}

th.orderable:after {
  content: "-";
}

th.ordered.asc:after {
  padding-left:0.4rem;
  content: "^";
}
th.ordered.desc:after {
  padding-left:0.4rem;
  content: "v";
}


td {
  border: 1px solid lightgray;
  padding: 1rem 1rem;
}


div.list-controls {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.page-number {
  padding: 1rem 0rem;
}
