#modal:empty {
  display: none;
}

#modal {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  backdrop-filter: blur(8px);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal>* {
  background-color: var(--base);
}

#modal::after {
  margin-top: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  border-radius: 1.25rem;
  background-color: var(--ui);
  box-shadow: 0px 2px 4px var(--dimmed);

  content: "X"
}