.tab-list {
  display: flex;
  box-shadow: inset 0px -4px 4px -5px;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 1rem;
}

div[role=tabpanel] {
  width: 100%;
}

button[role=tab] {
  border-radius: 0px;
  box-shadow: inset 0px -4px 4px -5px;
  border-radius: 0.7rem 0.7rem 0rem 0rem;
  background-color: #f0f0f0;
}

button[role=tab]:hover {
  padding: 0.85rem 0.7rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

button[role=tab].selected {
  padding: 1rem 0.7rem;
  border-radius: 0.7rem 0.7rem 0rem 0rem;
  background-color: white;
  box-shadow: none;
  border-bottom: none;
}