<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <title>Cornerstone Cafe</title>
  <link rel="stylesheet" href="/style.css"></script>
  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>
</head>

<body 
  class="box-border"
  hx-boost="true"
  hx-on::after-request="if (event.detail.target.id==='content') {document.getElementById('modal').innerHTML = ''}"
  >
  <div 
    class="w-screen flex flex-col items-center justify-start shadow mb-6"
    hx-get="/nav"
    hx-swap="innerHTML"
    hx-trigger="load,auth-change from:body"
    hx-push-url="false"></div>
  <div class="flex flex-col items-center">
    <div 
      id="content" 
      hx-target="#content"
      class="container flex flex-col items-center justify-start px-4">
      {{ content|safe }}
    </div>
  </div>
  <div 
    id="modal" 
    class="empty:hidden block fixed top-0 right-0 bottom-0 left-0 flex flex-col items-center *:mt-auto *:mb-auto px-4 pt-[20vh] pb-[40vh] bg-none backdrop-blur z-20 overflow-y-scroll"
    hx-on:click="if (event.target.id==='modal') {this.innerHTML = ''}"
    hx-on::after-request="if (event.detail.target.id==='content') {this.innerHTML = ''}">
  </div>
</body>
<foot>
  <script src="/setup.1.js"></script>
</foot>

</html>
