<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
  <title>Cornerstone Cafe</title>
  <!-- TODO: setup sass pre-processor for nerdfonts and tailwind -->
  <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: '#420303'
          }
        }
      }
    }
  </script>
  <style type="text/tailwindcss">
  
  </style>
</head>

<body 
  hx-boost="true"
  class="box-border"
  hx-on::after-request="if (event.detail.target.id==='content') {document.getElementById('modal').innerHTML = ''}"
  >
  <div 
    class="w-screen flex flex-col items-center justify-start shadow mb-6"
    hx-get="/nav"
    hx-swap="innerHTML"
    hx-trigger="load"></div>
  <div class="flex flex-col items-center">
    <div 
      id="content" 
      class="container flex flex-col items-center justify-start px-4"
      hx-push-url="true"
      hx-target="#content">
      {{ content|safe }}
    </div>
  </div>
  <div 
    id="modal" 
    class="empty:hidden block fixed top-0 right-0 bottom-0 left-0 px-4 md:px-48 bg-none backdrop-blur z-20 flex flex-col justify-center items-center"
    hx-on:click="if (event.target.id==='modal') {this.innerHTML = ''}"
    hx-on::after-request="if (event.detail.target.id==='content') {this.innerHTML = ''}"></div>
</body>
<foot>
  <script src="/setup.1.js"></script>
</foot>

</html>
