<div class="{{ container_class }}" hx-target="this" hx-swap="outerHTML" hx-push-url="true">
  <table class="list" cellspacing="0">
    <thead>
      {% for key in header %}
        <th {# this will not work #}{% if key.eq(order_by) %}class="ordered {{ order_dir }}"{% endif %}>{{ key }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for row in rows %}
        {{ row|safe }}
      {% endfor %}
    </tbody>
  </table>
  <div class="list-controls">
    <button {% if prev_disabled %}disabled="true"{% endif %} hx-get="{{ prev_url }}">Previous</button>
    <div class="current-page">{{ current_page }}/{{ page_count }}</div>
    <button {% if next_disabled %}disabled="true"{% endif %} hx-get="{{ next_url }}">Next</button>
  </div>
</div>
