<div 
  id="navigation"
  class="container flex flex-row h-12 px-4"
  hx-target="#content"
  hx-push-url="true" 
  hx-boost="true">
  <span hx-get="/nav" hx-target="#navigation" hx-swap="outerHTML" hx-trigger="auth-change from:body" hx-push-url="false"></span>
  <div class="grow-0 shrink-0 flex flex-row w-fit">
    <a class="flex justify-center items-center h-full whitespace-nowrap pr-3" href="/" hx-boost="true">
      <h1 class="font-serif text-3xl font-bold">Cornerstone Cafe</h1>
    </a>
    {% for (title, href) in left %}
      <a class="flex justify-center items-center h-full p-3 whitespace-nowrap border-x hover:bg-zinc-400" href="{{ href }}">{{ title }}</a>
    {% endfor %}
  </div>
  <div class="flex-1"></div>
  <div class="grow-0 shrink-0 flex flex-row w-fit">
    {% for (title, href) in right %}
      <a class="flex justify-center items-center h-full p-3 whitespace-nowrap border-x hover:bg-zinc-400" href="{{ href }}">{{ title }}</a>
    {% endfor %}
  </div>
</div>
