<form
  class="form card" 
  action="/event/create" 
  method="post" 
  hx-indicator="#create_event_submit" 
  hx-push-url="false"
  hx-target="#create_event_results"
>
  <label class="form-item">
    Name:<input name="name" type="text" required="true"></input>
  </label>
  <label class="form-item">
    Start Date:<input name="start_date" type="date" required="true"></input>
  </label>
  <label class="form-item">
    End Date:<input name="end_date" type="date" required="true"></input>
  </label>
  <label class="form-item">
    Allow Signups:<input name="allow_signups" type="checkbox"></input>
    <div class="spacer"></div>
  </label>
  <div class="form-controls">
    <button id="create_event_submit" type="submit">Submit</button>
  </div>
  <div id="create_event_results" class="form-item"></div>
</form>
