{% let ip_class = "col-span-2 border px-2 py-1 rounded-xl" -%}
{% let lb_class = "font-semibold text-right py-1" -%}
{% let div_class = "col-span-3 flex flex-row gap-4 justify-center items-center" -%}

<form
  class="w-[30rem] grid gird-cols-3 gap-4" 
  action="/event/create" 
  method="post" 
  hx-push-url="false"
  hx-target="#create_event_results"
>
  <label for="name" class="{{ lb_class }}">
    Name:
  </label>
  <input id="name" class="{{ ip_class }}" name="name" type="text" required="true"></input>
  <label for="start_date" class="{{ lb_class }}">
    Start Date:
  </label>
  <input id="start_date" class="{{ ip_class }}" name="start_date" type="date" required="true"></input>
  <label for="end_date" class="{{ lb_class }}">
    End Date:
  </label>
  <input id="end_date" class="{{ ip_class }}" name="end_date" type="date" required="true"></input>
  <label for="allow_signups" class="{{ lb_class }}">
    Allow Signups:
  </label>
  <div>
    <input id="allow_signups" name="allow_signups" type="checkbox"></input>
  </div>
  <div class="{{ div_class }}">
    <button class="px-4 py-2 border rounded-xl shadow hover:bg-zinc-400 hover:shadow-none" type="submit">Submit</button>
  </div>
  <div id="create_event_results" class="form-item"></div>
</form>
