
{% macro order_class(key) %}
{% if query.order_by.to_string() == key %}
ordered {{ query.order_dir }}
{% else %}
orderable
{% endif %}
{% endmacro %}

<table cellspacing="0">
  <thead class="rounded-t-lg shadow">
    <th class="border p-2 md:p-4"><a href="/event/list?{{ query.with_order(EventOrderBy::Name) }}">Name</a></th>
    <th class="border p-2 md:p-4">Allow Signups</th>
    <th class="border p-2 md:p-4">Manage</th>
  </thead>
  <tbody>
    {% for event in events %}
      {% include "list_row.html" %}
    {% endfor %}
    {% if events.len() == 0 %}
      <tr>
        <td colspan="3" class="border p-2 md:p-4 text-center">No events yet</td>
      </tr>
    {% endif %}
  </tbody>
</table>
{{ controls|safe }}
<button class="px-4 py-2 border rounded-xl shadow hover:bg-zinc-400 hover:shadow-none" hx-get="/event/create" hx-push-url="false" hx-target="#modal">+</button>
