{% macro order_class(key) %}
{% if query.order_by.to_string() == key %}
{# these are broken #}
{% match query.order_dir %}
  {% when OrderDirection::Asc %}
  nf nf-fa-sort_asc
  {% when OrderDirection::Desc %}
  nf nf-fa-sort_desc
{% endmatch %}
{% else %}
nf nf-fa-sort
{% endif %}
{% endmacro %}

<table cellspacing="0">
  <thead class="rounded-t-lg shadow">
    <th><a href="/event/list?{{ query.with_order(EventOrderBy::Name) }}">Name</a><i class='{% call order_class("name") %}'/></th>
    <th>Allow Signups</th>
    <th>Manage</th>
  </thead>
  <tbody>
    {% for event in events %}
      {% include "list_row.html" %}
    {% endfor %}
    {% if events.len() == 0 %}
      <tr>
        <td colspan="3" class="text-center">No events yet</td>
      </tr>
    {% endif %}
  </tbody>
</table>
{{ controls|safe }}
<button class="px-4 py-2 border rounded-xl shadow hover:bg-zinc-400 hover:shadow-none" hx-get="/event/create" hx-push-url="false" hx-target="#modal">+</button>
