<h2>{{ event.name }}</h2>
<div class="tab-list" role="tablist" hx-target="#content">
  {% for day in days %}
  {% let selected = day.date == selected_date %}
  <button class="tab-link{% if selected %} selected{% endif %}" role="tab"
    aria-selected="{% if selected %}true{% else %}false{% endif %}" aria-controls="tab-content" {% if !selected %}
    hx-get="/event/{{ event.id }}" hx-vals='{"date": "{{ day.date }}"}' {% endif %} hx-indicator="this">{{
    day.date|date_long }}</button>
  {% endfor %}
</div>
<div id="tab-content" class="tab-content" role="tabpanel" hx-get="/event/{{event.id}}/{{ selected_date }}"
  hx-trigger="load" hx-target="this" hx-swap="innerHTML" hx-push-url="false">
</div>