{% macro order_class(key) %}
{% if pagination.order_by.to_string() == key %}
ordered {{ pagination.order_dir }}
{% else %}
orderable
{% endif %}
{% endmacro %}

<table cellspacing="0">
  <thead class="shadow">
      <th class="border p-4">Recipient</th>
      <th class="border p-4">Subject</th>
      <th class="border p-4" colspan="3">Message</th>
      <th class='border p-4 {% call order_class("status") %}'
        hx-get="/email/list?{{ pagination.with_order(EmailOrderBy::Status) }}&{{ query }}">Status</th>
      <th class='border p-4 {% call order_class("created_at") %}'
        hx-get="/email/list?{{ pagination.with_order(EmailOrderBy::CreatedAt) }}&{{ query }}">Created At</th>
      <th class='border p-4 {% call order_class("sent_at") %}'
        hx-get="/email/list?{{ pagination.with_order(EmailOrderBy::SentAt) }}&{{ query }}">Sent At</th>
  </thead>
  <tbody>
    {% for email in emails %}
    <tr>
      <td class="border p-4">{{ email.address }}</td>
      <td class="border p-4">{{ email.subject }}</td>
      <td class="border p-4" colspan="3">
        <div class="max-h-12 overflow-hidden" hx-on:click="this.classList.toggle('max-h-12')">
          {% match email.kind %}
          {% when EmailKind::Html %}
          {{ email.message|safe }}
          {% when EmailKind::Text %}
          {{ email.message|linebreaks }}
          {% endmatch %}
        </div>
      </td>
      <td class="border p-4">{{ email.status }}</td>
      <td class="border p-4">{{ email.created_at|date_short }} {{ email.created_at|time_short}} UTC</td>
      {% if let Some(sent_at) = email.sent_at %}
      {% let sent_at = email.sent_at.unwrap() -%}
      <td class="border p-4">{{ sent_at|date_short }} {{ sent_at|time_short}} UTC</td>
      {% else %}
      <td class="border p-4"></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ controls|safe }}
