{% macro order_class(key) %}
{% if pagination.order_by.to_string() == key %}
{# these are broken #}
{% match pagination.order_dir %}
  {% when OrderDirection::Asc %}
  nf nf-fa-sort_asc
  {% when OrderDirection::Desc %}
  nf nf-fa-sort_desc
{% endmatch %}
{% else %}
nf nf-fa-sort
{% endif %}
{% endmacro %}

<table cellspacing="0">
  <thead class="shadow">
      <th>Recipient</th>
      <th>Subject</th>
      <th colspan="3">Message</th>
      <th hx-get="/email/list?{{ pagination.with_order(EmailOrderBy::Status) }}&{{ query }}">
        Status
        <i class='{% call order_class("status") %}'/>
      </th>
      <th hx-get="/email/list?{{ pagination.with_order(EmailOrderBy::CreatedAt) }}&{{ query }}">
        Created At
        <i class='{% call order_class("created_at") %}'/>
      </th>
      <th hx-get="/email/list?{{ pagination.with_order(EmailOrderBy::SentAt) }}&{{ query }}">
        Sent At
        <i class='{% call order_class("sent_at") %}'/>
      </th>
  </thead>
  <tbody>
    {% for email in emails %}
    <tr>
      <td class="border p-4">{{ email.address }}</td>
      <td class="border p-4">{{ email.subject }}</td>
      <td class="border p-4" colspan="3">
        <div class="max-h-12 overflow-hidden" hx-on:click="this.classList.toggle('max-h-12')">
          {% match email.kind %}
          {% when EmailKind::Html %}
          {{ email.message|safe }}
          {% when EmailKind::Text %}
          {{ email.message|linebreaks }}
          {% endmatch %}
        </div>
      </td>
      <td class="border p-4">{{ email.status }}</td>
      <td class="border p-4">{{ email.created_at.with_timezone(timezone).borrow()|date_short }} {{ email.created_at.with_timezone(timezone).borrow()|time_short}} {{ timezone_name }}</td>
      {% if let Some(sent_at) = email.sent_at %}
        <td class="border p-4">{{ sent_at.with_timezone(timezone).borrow()|date_short }} {{ sent_at.with_timezone(timezone).borrow()|time_short}} {{ timezone_name }}</td>
      {% else %}
        <td class="border p-4"></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ controls|safe }}
